html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --dark-bg: #2E2E2E;
    --dark-text: #F5F5F5;

    --light-bg: #fff;
    --light-text: #000;

    --color-hover: linear-gradient(to right, #ff0000, #ff5757, #ff66c4, #ff9900, #ffde59, #7ed957, #009bde, #5ce1e6, #5471ff, #004bad, #cb6ce6, #5e17eb);
    --color-blur: #777777c0;

    
}

body {
    background: var(--dark-bg);
    color: var(--dark-text);
    overflow: auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

section {
    min-height: 100vh;
}

img {
    width: 100%;
}

.maybay {
    position: fixed;
    z-index: 1000;
    right: 20px;
    bottom: 20px;

    width: 30px;
    cursor: pointer;
}
/* =================================================CONTENT================================================ */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 1000;
    /* top: 20px;
    right: 20px; */

    width: 100%;
    font-size: 3rem;
    padding: 10px 30px;

    background: var(--dark-bg);
}

.download {
    cursor: pointer;
}

.container {
    padding-top: 80px;
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    justify-items: center;
    align-items: center; 
}

.image {
    position: relative;
}

.image i {
    position: absolute;
    top: 10px;
    right: 10px;
    
    color: #000;
    font-size: 3rem;

    cursor: pointer;
}

.image img {
    height: 300px;
    object-fit: cover;
    object-position: center; 
    border-radius: 15px;
    transition: 0.3s;
}

.image img:hover {
    z-index: 1;
    scale: 1.1;
}
