/* mobile */
@media (max-width: 767.98px) {
    .container {
        min-width: calc(100% - 12px);
    }

    .navbar-list,
    .mode {
        display: none;
    }

    .fa-bars {
        display: block;
    }

    .hero {
        flex-direction: column-reverse;
        /* align-items: flex-start; */
    }

    .panel:not(:first-child) {
        display: none;
    }

    .panel:first-child {
        display: block;
    }

    .hero__left {
        width: 100%;
        margin-top: 30px;
    }

    .hero__right {
        width: 100%;
        margin-top: 60px;
    }

    .member-link {
        min-width: 100%;
    }

    .member-about {
        flex-direction: column;
    }

    .about-img {
        width: 70%;
    }

    .about-content {
        width: 90%;
        margin: 0;
    }

    .photo {
        grid-template-columns: repeat(1, 1fr);
        width: 80vw;
        margin: 0 auto;
    }
}
/* tablet */
@media (min-width: 768px) and (max-width: 999.98px) {
    .hero {
        flex-direction: column-reverse;
    }

    .hero__left {
        width: 80%;
        margin-top: 30px;
    }

    .hero__right {
        width: 100%;
        margin-top: 60px;
    }

    .panel:nth-last-of-type(1),
    .panel:nth-last-of-type(2) {
        display: none;
    }

    .member__heading {
        font-size: 2.5rem;
    }

    .member__desc {
        font-size: 2rem;
    }

    .photo {
        grid-template-columns: repeat(3, 1fr);
    }
}